<hgroup id="brand">
	<!-- Homepage -->
	{{- if eq .Kind "home" -}}
	<h1>{{ .Site.Title }}</h1>
		<!-- Temp formatting. Adding ability to make tag hyperlink by setting .Site.Params.TaglineHref variable  -->
		{{if .Site.Params.Taglinehref | default false }}
			<!-- inline css to make tagline hyperlink more subtle -->
			<h5><a href="{{ .Site.Params.TaglineHref }}" style="color:#898989">{{ .Site.Params.Tagline }}</a></h5>
		{{ else }}
			<h5>{{- with .Site.Params.Tagline -}}{{.}}{{- end -}}</h5>
		{{ end }}

	<!-- Section List -->
	{{- else if ( or ( eq .Kind "section") ( eq .Kind "taxonomyTerm" ) ) -}}
	<h1>{{ .Title }}</h1>
	<!-- Ordinary Page -->
	{{- else if eq .Kind "page" -}}
	<h1>{{ .Title }}</h1>
	<h5>
		{{ $dateformat := .Site.Params.DateFmt | default "Jan 02, 2006" }}
		<time datetime="{{.Date}}">{{ .Date.Format $dateformat }}</time>
		<span class="no-print">
			{{ with .Params.tags -}}
			-
				{{ range . }}
				<a href="/tags/{{.}}">{{.}}</a>
				{{ end }}
			{{- end -}}
			{{- with .Params.workURL -}}
			-
			<a href="{{.}}">{{ T "workHomepage" }}</a>
			{{- end -}}
		<span>
	</h5>
	<!-- Taxonomy Page -->
	{{- else if eq .Kind "taxonomy" -}}
	<h5>{{ .Data.Singular | title }}:</h5>
	<h1>{{ .Title }}</h1>
	{{ end }}
</hgroup>
<hr class="sep" />
